<% include partials/header %>
    <div class="container" style=" margin-top : 20px; ">
        <div class="jumbotron" >
            <h1>Yelpcamp Homepage!</h1>
            <a class="btn btn-primary btn-lg" href="/campgrounds" role="button" style=" margin-top: 20px; ">Visualizza i campeggi</a>
        </div>
    </div>

<% include partials/footer %>
